/*=============================
	06. Background CSS Start
===============================*/
.bg-control {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.primary-bg {
  background: var(--primary-color);
}

.black-bg {
  background: var(--black-color);
}

.bg-one {
  background: var(--bg-color1);
}

.bg-two {
  background: var(--bg-color2);
}
