/*=============================
	06. Background CSS Start
===============================*/
.bg-control {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.primary-bg {
  background: var(--bs-primary-color);
}

.black-bg {
  background: var(--bs-black-color);
}

.bg-one {
  background: var(--bs-bg-color1);
}

.bg-two {
  background: var(--bs-bg-color2);
}

.bg-three {
  background: var(--bs-color3);
}