/*=============================
	05. Theme btn CSS Start
===============================*/
.btn_rounded{
  width: 150px;
  height: 150px;
  border: 1px solid var(--border);
  span{
    margin-top: 5px;
  }
  &:hover{
    background: var(--primary-color);
  }
  &.fill{
    background: var(--primary-color);
    &:hover{
      background: var(--black-color);
      color: var(--white-color);
    }
  }
}