/*=============================
	22. Counter CSS Start
===============================*/
.ep_counter_section {
  .counter_content {
    padding: 33px 0 53px 0;
    border-top: 1px solid var(--border);

    .counter_grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;

      .counter_item {
        &:nth-child(even) {
          .number {
            color: transparent;
            -webkit-text-stroke: 2px var(--paragraph-color);
          }
        }
      }
    }
  }

  .lines {
    .line {
      background: linear-gradient(to bottom, #E8E8E8 70%, rgba(198, 198, 198, 0) 100%);
    }
  }
}

.counter_item {
  .number {
    font-size: 96px;
    font-weight: 700;
    font-family: var(--font-sora);
  }

  p {
    font-weight: 500;
  }
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-minimal .odometer-digit .odometer-digit-inner {
  text-align: left;
}