/*=============================
	04. Heading CSS Start
===============================*/
h1 {
  font-size: 96px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 132%;
}

.heading-four {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;

  @media (max-width:1399.98px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.heading-five {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.heading-six {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}