/*=============================
	04. Heading CSS Start
===============================*/
h1 {
  font-size: 96px;
  font-weight: 700;

  @media (max-width:1399.98px) {
    font-size: 86px;
  }

  @media (max-width:1199.98px) {
    font-size: 72px;
  }

  @media (max-width:991.98px) {
    font-size: 62px;
  }

  @media (max-width:767.98px) {
    font-size: 52px;
  }

  @media (max-width:575.98px) {
    font-size: 44px;
  }
}

h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;

  @media (max-width:1199.98px) {
    font-size: 40px;
  }
  @media (max-width:767.98px) {
    font-size: 36px;
  }
  @media (max-width:575.98px) {
    font-size: 30px;
  }
}

h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 132%;

  @media (max-width:1199.98px) {
    font-size: 28px;
  }

}

h4 {
  font-size: 24px;
  font-weight: 600;
}

h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.heading-six {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}