/*=============================
	04. Heading CSS Start
===============================*/
h1 {
  font-size: 96px;
  font-weight: 700;
}

.heading-two {
  font-size: 44px;
  line-height: 54px;
  font-weight: 700;

  @media (max-width:1199.98px) {
    font-size: 38px;
    line-height: 48px;
  }

  @media (max-width:575.98px) {
    font-size: 32px;
    line-height: 42px;
  }
}

.heading-three {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;

  @media (max-width:1399.98px) {
    font-size: 26px;
    line-height: 36px;
  }

  &.style2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;

    @media (max-width:1399.98px) {
      font-size: 26px;
      line-height: 36px;
    }
  }
}

.heading-four {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;

  @media (max-width:1399.98px) {
    font-size: 20px;
    line-height: 30px;
  }
}

.heading-five {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.heading-six {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}