/*=============================
	20. Portfolio CSS Start
===============================*/

.ep_portfolio_section {

  .portfolio_content {
    padding-top: 190px;

    .section_title {
      max-width: 891px;

      .title {
        max-width: 355px;
      }

      img {
        position: absolute;
        bottom: -26px;
        left: -95px;
      }

      p {
        max-width: 437px;
      }
    }
    .view_all{
      padding: 46px 0 76px 0;
    }
  }
}

.portfolio_item {
  height: 100%;

  img {
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    padding: 30px 40px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 11.17%, rgba(19, 18, 18, 0.63) 82.56%, #131212 106.38%);

    .text {
      .title {
        a {
          color: var(--white-color);
        }
      }

      .view {
        a {
          color: var(--color1);

          i {
            margin-left: 8px;
          }
          &:hover{
            color: var(--white-color);
          }
        }
      }
    }
  }
}