/*=============================
	03. Section title CSS Start
===============================*/
.section_title {
  .sub_title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 26px;
    color: var(--paragraph-color);

    &::before {
      position: absolute;
      top: -16px;
      left: 0;
      background: url(../images/icon/sub-heading-icon.png);
      content: "";
      width: 63px;
      height: 8px;
    }
  }
}