/*=============================
	15. Services CSS Start
===============================*/
/* service section one */
.ep_service_section {
  @media (max-width:575.98px) {
    padding: 0 12px;
  }
  .section_title {
    padding: 0 76px;

    @media (max-width:1399.98px) {
      padding: 0 24px;
    }

    @media (max-width:991.98px) {
      padding: 0;
    }


    .title {
      max-width: 446px;
    }
  }

  .container {

    &::before,
    &::after {
      width: 1px;
      height: 100%;
      background: var(--border);
      position: absolute;
      top: 0;
      content: "";
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }
}

.service_item {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  padding: 49px 110px;

  @media (max-width:1399.98px) {
    padding: 49px 24px;
  }

  @media (max-width:991.98px) {
    padding: 39px 0;
  }

  .number {
    color: var(--color1);
  }
}

.ep_text_slider_section {
  height: 200px;
  background: var(--black-color);
}