/*=============================
	18. Team CSS Start
===============================*/
.ep-team-section {
  .team-item {
    .image {
      padding-right: 28px;

      img {
        padding: 6px;
        background-color: #e58083;
        transition: var(--bs-transition);
      }

      .overlay {
        bottom: 30px;
        left: 30px;

        .designation {
          background-color: var(--bs-bg-color1);
          color: var(--bs-black-color);
          padding: 7px 20px;
          transition: var(--bs-transition);
          transform: translateX(-20px);
          opacity: 0;
          visibility: hidden;
        }

        .name {
          background-color: var(--bs-primary-color);
          color: var(--bs-white-color);
          padding: 7px 20px;
          transition: var(--bs-transition);
          transform: translateX(-20px);
          opacity: 0;
          visibility: hidden;
        }
      }

      &:hover {
        img {
          background: var(--bs-primary-color);
        }

        .overlay {

          .designation,
          .name {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
          }

          .name {
            transition-delay: 0.3s;
          }
        }
      }
    }

    .team-icon {
      border-radius: 30px;
      transition: var(--bs-transition);
      padding-top: 15px;
      background-color: transparent;
      border: 1px solid transparent;
      overflow: hidden;
      bottom: 144px;
      right: 0;
      z-index: 99;

      @media (max-width:1199.98px) {
        bottom: 64px;
      }

      .social-icon {
        padding-bottom: 15px;
        transform: scaleY(0);
        transform-origin: bottom;
        visibility: hidden;
        opacity: 0;
        transition: var(--bs-transition);

        ul {
          li {
            a {
              font-size: 14px;
              width: 36px;
              height: 36px;
              color: var(--bs-primary-color);
              font-size: 14px;
              background-color: #fce5e6;

              &:hover {
                background-color: var(--bs-primary-color);
                border-color: var(--bs-primary-color);
                color: var(--bs-white-color);
              }
            }
          }
        }
      }

      .link-icon {
        width: 56px;
        height: 56px;
        background-color: var(--bs-primary-color);
      }

      &:hover {
        border-color: var(--bs-primary-color);
        background: var(--bs-white-color);

        .social-icon {
          transform: scaleY(1);
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  &.style2 {
    .bg-overlay {
      background: rgba(236, 240, 241, 0.93);
    }

    .team-item {
      padding: 20px;
      padding-bottom: 50px;

      @media (max-width:1199.98px) {
        padding: 12px;
        padding-bottom: 42px;
      }

      @media (max-width:991.98px) {
        padding-bottom: 28px;
      }

      .team-icon {
        bottom: 12px;
        right: 20px;

        .social-icon {
          ul {
            li {
              a {
                margin: 0 auto;
              }
            }
          }
        }

        .link-icon {
          background: var(--bs-black-color);

          &:hover {
            background: var(--bs-primary-color);
          }
        }
      }

      .image {
        padding-right: 0;

        .overlay-shape {
          img {
            background-color: transparent;
            padding: 0;
          }
        }

        .text {
          background: var(--bs-bg-color1);
          width: 100%;
          padding: 12px 20px;
          bottom: -32px;

          .overlay {
            max-width: 240px;
            width: 100%;
          }

          .designation {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
            padding: 0;
            background: transparent;
            color: var(--bs-primary-color);
            font-size: 14px;
            overflow: hidden;
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }

          .name {
            background-color: transparent;
            color: var(--bs-black-color);
            padding: 0;
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            overflow: hidden;
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
  }
  &.style3{
    .team-item{
      border: 1px solid var(--bs-bg-color1);
    }
  }
}