/*=============================
	20. Testimonial CSS Start
===============================*/
.ep_testimonial_section {
  .overlay {
    background: rgba(21, 21, 21, 0.91);

    .testimonial_left_info {
      padding-left: 70px;

      h5 {
        font-weight: 500;
        color: var(--white-color);
        text-transform: uppercase;
      }

      .swiper-pagination {
        display: flex;
        flex-direction: column;
        gap: 27px;
        position: absolute;
        top: 50%;
        left: 80px;
        width: 32px;
        transform: translateY(-50%);

        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          background: var(--paragraph-color);
          border-radius: 50%;
          transition: var(--transition);

          &.swiper-pagination-bullet-active {
            position: relative;
            background: var(--white-color);

            &::after {
              width: 32px;
              height: 32px;
              background: url(../images/img/ring.png);
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              content: "";
            }
          }
        }
      }

      .clients {
        p {
          color: var(--white-color);
          max-width: 221px;
        }
      }
    }

    .testimonial_content {
      padding: 103px 0;

      .testimonial_info {
        max-width: 654px;

        .name {
          h4 {
            color: var(--white-color);
            margin-bottom: 8px;
            font-family: var(--font-sora);
          }

          p {
            color: var(--color1);
          }
        }

        .content {
          margin: 41px 0 130px 0;

          p {
            font-size: 28px;
            font-weight: 500;
            line-height: 42px;
            color: var(--white-color);
            font-style: italic;
          }
        }
      }
    }
  }
}