/*=============================
	14. Banner CSS Start
===============================*/
.ep_video_section{
  .video_main{
    padding: 177px 0;
    a{
      width: 136px;
      height: 136px;
      background: url(../images/img/video-play-bg.png);
      padding: 24px;
      span{
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 500;
        line-height: 150%;
        color: var(--white-color);
      }
      &:hover{
        transform: scale(1.1);
      }
    }
  }
}